.post{
    width: 550px;
    margin: 30px 40px 50px 40px;
}
.post-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.post-headerAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
}
.post-headerAuthor > span{
    color: grey;
    font-size: 15px;
}
.post-image > img{
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);

}
/* .post-footer{

} */
.post-footerIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* .postIcon{
    padding-left: 7px;
    padding-right: 7px;
    font-size: 130px;
} */
.postIcon:hover{
    cursor: pointer;
}